# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# dbt
# =========================
dbt_packages/
target/
logs/

# =========================
# Airflow
# =========================
airflow.db
airflow.cfg
*.log

# =========================
# Astro
# =========================
.astro/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp